node_modules
package-lock.json
.svelte-kit
build
dist
.env
.env.*
!.env.example
.DS_Store
*.log
bundle-report.html
# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

